<template name="project">

<div id="{{id}}" class="jumbotron" style="margin-top:50px;">
<div class="row">
<h2> <a href="#{{id}}"> {{title}} </a> </h2>
	<div class="col-lg-6 col-md-6 col-sm-6">

            <p>
            
            <em><h4>{{description}}</h4></em>
            <ul>
            {{#each features}}
            <li>{{feature}}</li>
            {{/each}}
            </ul>
            </p>

            <a href="{{site}}" target="_black" class="btn btn-sup btn-material-pink btn-raised {{#if site}}{{else}}hidden{{/if}}" >
                <i style="font-size: 18pt;" class="mdi-action-language"></i>
                <span>URL</span>
            </a>

            <a href="{{site2}}" target="_black" class="btn btn-sup btn-material-purple btn-raised {{#if site2}}{{else}}hidden{{/if}}" >
                <i style="font-size: 18pt;" class="mdi-action-language"></i>
                <span>URL2</span>
            </a>

            <a href="{{win}}" target="_black" class="btn btn-sup btn-material-deeppurple btn-raised {{#if win}}{{else}}hidden{{/if}}" >
                <i style="font-size: 18pt;" class="mdi-hardware-desktop-windows"></i>
                <span>WIN</span>
            </a>

            <a href="{{android}}" target="_black" class="btn btn-sup btn-material-lightblue {{#if android}}{{else}}hidden{{/if}}">
                <i style="font-size: 18pt;" class="mdi-action-android"></i>
                <span>Android</span>
            </a>

            <a href="{{wp8}}" target="_black" class="btn btn-sup btn-material-indigo {{#if wp8}}{{else}}hidden{{/if}}">
                <i style="font-size: 18pt;" class="mdi-device-now-widgets"></i>
                <span>Wp8</span>
            </a>
          
            <a href="{{code}}" target="_black" class="btn btn-sup btn-material-deeporange {{#if code}}{{else}}hidden{{/if}}">
                <i style="font-size: 18pt;" class="mdi-action-bug-report"></i>
                <span>CODE</span>
            </a>
   
            

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    {{#each images}}
    
    <div class="col-lg-4 col-md-4 col-sm-4">
    	<div class="sample shadow-z-5">
        <a href="#" class="thumbnail">
    	<img src="{{url}}" class="img-rounded img-responsive"  alt="Responsive image">
            </a>
    	</div>
    </div>
    
    {{/each}}
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:30px;">
    {{#each images2}}
    
    <div class="col-lg-4 col-md-4 col-sm-4">
    	<div class="sample shadow-z-5">
                    <a href="#" class="thumbnail">
    		<img src="{{url}}" class="img-rounded img-responsive"  alt="Responsive image">
                    </a>
    	</div>
    </div>
    
    {{/each}}
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:30px;">
    {{#each images3}}
    
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="sample shadow-z-5">
        <a href="#" class="thumbnail">
            <img src="{{url}}" class="img-rounded img-responsive"  alt="Responsive image">
        </a>
        </div>
    </div>
    
    {{/each}}
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:30px;">
    {{#each images4}}
    
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="sample shadow-z-5">
        <a href="#" class="thumbnail">
            <img src="{{url}}" class="img-rounded img-responsive"  alt="Responsive image">
            </a>
        </div>
    </div>
    
    {{/each}}
    </div>
            
 </div>
 </div>
</template>